<div class="intrude-less">
	<header id="header" class="inner">
		<div class="profilepic">
			<img src="<%=theme.avatar%>">
		</div>

		<hgroup>
		  <h1 class="header-author"><a href="/"><%=theme.author%></a></h1>
		</hgroup>

		<% if (theme.subtitle){ %>
		<p class="header-subtitle"><%=theme.subtitle%></p>
		<%}%>

		<div class="social" >
			<nav class="header-nav">
				<% for (var i in theme.subnav){ %>
					<a class="<%= i %>" target="_blank" href="<%- url_for(theme.subnav[i]) %>" 	title="<%= i %>"><%= i %></a>
				 <%}%>
			</nav>
		</div>
		<div class="panel-bd">
			<p>》Categories</p>
			<ul class="header-menu">
				<% for (var i in theme.menu){ %>
					<a href="<%- url_for(theme.menu[i]) %>"><li><%= i %></li></a>
				<%}%> 
			</ul>

		</div>
		<div class="panel-bd">
			<p>》Archive</p>
			<ul class="header-menu">
				      <%- list_archives({type:"yearly"}) %>
			</ul>
		</div>
<!--  		<div class="panel-bd">
			<p>》Tags</p>
			<ul class="header-menu">
				<%- tagcloud({color: true,	start_color:'#0000ff'}) %>
			</ul>
		</div>   -->
	</header>				
</div>